<%= form_tag url_for(:controller => "home", :action => "update"), :method => :patch %>

<fieldset>

  <%= label :content, '首頁內容' %>
  <%= text_area_tag :content, @mfg, :class => 'ckeditor' %>


</fieldset>

<div class="form-actions">
  <button type="submit" class="btn btn-small btn-primary">
    <i class="icon-ok"></i> 儲存
  </button>
  <%= link_to :back, :title => '返回', :class => 'btn' do %>
  <i class="icon-arrow-left"></i> 返回
  <% end %>


</div>

