<table class="table table-striped">
  <tr class="row">
    <th>易錯單字、片語、或例句</th>
    <th class="span2">測驗錯誤次數</th>
    <th class="span2">課程編號</th>
  </tr>
  <% @records.each do |record| %>
  <tr class="row">
    <td class=""><%= record.course_item.try(:english) %></td>
    <td class="span2"><%= record.cnt %></td>
    <td class="span2"><%= link_to record.course.serial, course_path(record.course) %></td>
  </tr>
  <% end %>
</table>

<%= paginate @records %>