@import 'variables.css.scss';

.studies-block {

  #audio_player {
    display: none;
  }

  
}

.self_learnings-block {
  input.wrong {
    border-color: $danger;
  }

  input.correct {
    border-color: $safe;
  }
  .score {
    color: $danger;
  }
}