<p>Hi <%= @resource.fullname %>!</p>

<p>請點選以下連結重設您的密碼</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您沒有提出此要求，請忽略本郵件</p>
<p>在您點選上述連結之前，您的舊密碼不會受到更改</p>
